/* Dictionary style */
#dicBox {
    width			: auto;
	height			: auto;
	position		: relative;
	margin			: 0;
	padding			: 0;
	z-index			: 100;
	text-align		: center;
	font-size		: 15px;
}
#dicSearch {
	width			: auto;
	height			: 60px;
	position		: relative;
	margin			: 0;
	padding			: 0;
}
#dicResponse {
	width			: auto;
	height			: auto;
	position		: relative;
	margin			: 0;
	padding			: 0;
	border-top		: 2px #808080 solid;
}
/* 検索リストのStyle */
#dicResponse > ul {
	margin			: 0;
	padding			: 0;
	list-style-type	: none;
}
#dicResponse > ul > li {
	width			: auto;
	height			: 25px;
	background		: #ff6600;
	position		: relative;
	margin			: 0;
	padding			: 2px 5px;
	border-bottom	: 2px #808080 solid;
	cursor			: pointer;
	text-align		: left;
}
#dicResponse > ul > li:hover {
	background		: #ff3300;
}
/* 検索結果のStyle */
dl.dicRes {
	font-size		: 14px;
}
dl.dicRes > dt {
	margin			: 10px 0;
	padding			: 0;
	color			: #5a96ff;
	font-size		: 20px;
	font-weight		: bold;
	text-shadow		: 0px 0px 1px #99beff;
}
dl.dicRes > dd {
	margin			: 0;
	padding			: 0;
	line-height		: 130%;
	text-shadow		: 0px 0px 1px #999;
}

/* Popup style */
#popup {
	width			: 300px;
	overflow		: hidden;
	position		: absolute;
	background		: #fff;
	border			: 1px solid #000;
	margin			: 0;
	padding			: 5px 6px;
    display         : none;
	color			: #555;
	z-index			: 100;
	border-radius	: 15px;
	box-shadow		: 0px 1px 5px #000;
}
#popup > dl {
	font-size		: 13px;
}
#popup > dl > dt {
	font-size		: 18px;
	text-align		: center;
}